.path-mod-audioslides .audioslidescontent {
    text-align: center;
}

.path-mod-audioslides .audioslidesdetails {
    font-size: 0.8em;
    color: #555;
}

.audioslideslinkdetails {
    font-size: 0.8em;
    color: #555;
}
